@media screen  and (max-width: 1100px ) {
    
    header {
        width: 90%;
        transition: .5s linear;
    }
    
    header .song_side .content {
        height: 20%;
    }

    header .song_side {
        width: 70%;
        
    }

    header .menu_side, .song_side {
        width: 30%;
        
    }
}

@media screen  and (max-width: 860px ) {
    
    header .menu_side  {
        z-index: 999;
        width: 41%;
        position: absolute;
        transition: 1s linear;
        transform: translateX(-100%);
    }

   
   
    header .song_side {
        width: 100%;
    }
    header .master_play {
       
        position: absolute;
        bottom: 0;
    }

    header .menu_side h6 {
        position: absolute;
        right: -40px;
        bottom: 10px;
        width: 40px ;
        height: 40px;
        background: #111727;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        transition: 1s linear;
        z-index: 999999999;
    }
    }


    @media screen  and (max-width: 660px ) {
    
        header {
            width: 100%;
            height: 100vh;
        }
        header .song_side nav .search {
            
            width: auto;
            
        }

        header .song_side nav ul li {
            font-size: 11px;
            margin-right: 10px;
            
        }
        header .menu_side h2 {
            margin-top: -5px;
        }

        header .menu_side {
            width: 55%;
            
        }

        header .master_play {
            
            z-index: 9999999999999999999999999;
        }

        header .master_play .icon {
            
            position: absolute;
            top: -46px;
            right: 30%;
        }
        header .master_play .icon::before {
            content: '';
            position: absolute;
            width: 200px;
            height: 180px;
            background: #111727;
            z-index: -1; border-radius: 50% ;
            left: -20%;
            box-shadow: 0 -11px 20px -17px #000;
           
        }

        header .master_play .wave {
            position: absolute;
            top: -90px;
            width: 40px;
            height: 40px;
            right: 40%;
        }

        header .master_play .wave .wave1 {
            width: 8px;
            
        }

        }

        @media screen  and (max-width: 390px ) {
            header .song_side nav .search {
               
                display: flex;
                width: 150px;
                margin-right: 5px;
            }
           

            header .master_play .wave {
                
                right: 44%;
            }

            header .menu_side {
                width: 65%;
            }

            header .song_side .popular_song {
                
                margin-top: 40px;
            }
        }


        @media screen  and (max-width: 920px ) {
            header .right_bx1 img {
                height: 300px;
            }
            header .left_bx1, .right_bx1 {
                width: 60%;
                
            }
            header .left_bx1 {
                width: 40%;
                
            }
        }

        @media screen  and (max-width: 770px ) {
            header .right_bx1 img {
                height: 210px;
            }
            header .left_bx1 {
                width: 50%;
            }
            header .left_bx1, .right_bx1 {
                width: 50%;
            }
        }
   
        @media screen  and (max-width: 570px ) {
            header .right_bx1 img {
                height: 130px;
            }
            header .left_bx1, .right_bx1 {
                width: 50%;
            }

            header .left_bx1, .right_bx1 {
                width: 50%;
            }
        }
   